* {
    font-family: 'Roboto', sans-serif;
}

body {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    margin         : 0;
    color          : transparent;
}

.header {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    background-color: #1f2937;
    color           : #f9faf8;
    padding         : 0 10px;
}

.header-logo {
    font-size: 24px;
}

.header-links {
    display   : flex;
    list-style: none;
    font-size : 100;
}

.header-links a {
    font-weight    : 300;
    font-size      : 18px;
    margin-left    : 10px;
    text-decoration: none;
    color          : #f9faf8;
    transition     : 0.3s;
}

.header-links a:hover {
    color     : #3882f6;
    transition: 0.3s;
}

.main-title {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    flex            : 1;
    background-color: #1f2937;
    padding         : 75px 10px;
    gap             : 20px;
}

.main-title-text h1 {
    font-size  : 48px;
    font-weight: 900;
    color      : #f9faf8;
    margin     : 0;
}

.main-title-text p {
    font-weight: 100;
    font-size  : 18px;
    color      : #f9faf8;
    margin     : 0;
}

.main-title-text button {
    padding         : 5px 25px;
    border-radius   : 7px;
    background-color: #3882f6;
    border          : none;
    color           : #f9faf8;
    margin-top      : 5px;
}

.title-image-placeholder {
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 1000px;
    height          : 200px;
    background-color: grey;
}

.title-image-placeholder p {
    color: #f9faf8;
}

.content {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    color         : #1f2937;
}

.content h2 {
    text-align: center;
    padding   : 10px 0;
}

.images {
    display        : flex;
    gap            : 20px;
    justify-content: space-around;
    align-items    : center;
    padding-bottom : 75px;
}

.image-with-text {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.square-image {
    width        : 150px;
    height       : 150px;
    border       : 3px #3882f6 solid;
    border-radius: 10px;
}

.image-with-text p {
    text-align : center;
    width      : 160px;
    font-weight: 300;
    font-size  : 18px;
}

.quote-block {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    background-color: #e2e7eb;
    padding         : 50px 75px;
}

.quote {
    font-size    : 36px;
    font-style   : italic;
    font-weight  : 200;
    margin-bottom: 0;
    padding      : 0 120px;
}

.author {
    margin-left: auto;
    padding    : 0 140px;
    margin-top : 0;
    font-weight: 500;
    font-size  : 18px;
}

.call-to-action {
    display        : flex;
    justify-content: center;
    align-items    : center;

}

.call-banner {
    display         : flex;
    background-color: #3882f6;
    margin          : 75px 0;
    border-radius   : 10px;
    padding         : 40px 70px;

    gap            : 75px;
    justify-content: center;
    align-items    : center;
    flex: 1 0 auto;

}

.call-text {
    display       : flex;
    flex-direction: column;
}

.call-title,
.call-subtext {
    margin: 0;
    color : #f9faf8;

}

.call-title {
    font-weight: 600;
    font-size  : 24px;
}

.call-subtext {
    font-size  : 18px;
    font-weight: 200;
}

.call-button {
    border          : 2px #f9faf8 solid;
    background-color: #3882f6;
    border-radius   : 10px;
    padding: 5px 25px;
    color: #f9faf8;
}

.footer{
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 25px 0;
    font-weight: 200;
}